@model IEnumerable<Signal.Server.Entities.SensorStatusTrack>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Door status history</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Door status
            </th>
            <th>
                Event time
            </th>
            <th>
                Sensor Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTimeUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensor.Name)
            </td>
        </tr>
}
    </tbody>
</table>
